# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
HorizonHotels-env/

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# Mac system files
.DS_Store

# VSCode settings (optional)
.vscode/
