<!--Horizon Hotels adminAccountPage.html 

Student ID:  -->

{% extends 'base.html' %}

{% block head %} 
{% endblock %}

{% block body %} 

<div class="aboutUsPageBody">

    <!--Navbar-->

    <header>

        <!--Skip nav link for accessability-->

        <a class="skipNavLink" href="#main-content">
            skip navigation
        </a>

        <!--<img src="Images/HHLogo.svg" alt="HHLogo" class="HHLogo">-->
        <h3 class="headerBrandName">HORIZON HOTELS</h3>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="searchPage">Search</a></li>
                <li><a href="aboutUsPage">About Us</a></li>
                <li><a href="adminAccountPage">Account</a></li>
                <li><a href="logoutPage">Logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>

    <main id="main-content">

    <!--Gap/Space beneath nav-->
    <div class="navGap"><br></div>
        
    <section class="aboutUsSection">
        <h1>Hotels</h1>
    </section>
    <section class="aboutUsSection">
        <div>
            <table>
                <tr>
                    <th>Hotel ID</th>
                    <th>Location</th>
                    <th>Admin Activities</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <form style="display: inline;" method="post" action="/adminAddHotelPage">
                            <button type="submit" class="view_booking_details">Add Hotel</button>
                        </form>
                    </th>
                </tr>                     
                {% for dict_item in hotels %}
                    <tr>
                        <td>Hotel #{{dict_item['HOTEL_ID']}}</td>
                        <td>{{dict_item['CITY']}}</td>
                        <td>
                            <form style="display: inline;" method="post" action="/adminHotelDetailsPage">
                                <input type="hidden" name="hotel_id" value="{{dict_item['HOTEL_ID']}}">
                                <button type="submit" class="view_booking_details">Hotel Details</button>
                            </form>
                            <form style="display: inline;" method="post" action="/adminBookingsPage">
                                <input type="hidden" name="hotel_id" value="{{dict_item['HOTEL_ID']}}">
                                <button type="submit" class="view_booking_details">View Bookings</button>
                            </form>
                            <form style="display: inline;" method="post" action="/adminDeleteHotelPage">
                                <input type="hidden" name="hotel_id" value="{{dict_item['HOTEL_ID']}}">
                                <button type="submit" class="view_booking_details" onclick="confirm_admin_changes()">Delete Hotel</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}          
            </table>
        </div>
    </section>
   
    <div class="aboutUsBottomGap"></div>

</div>


<script>
    function confirm_admin_changes() {
        var result = confirm('Are you sure you would like to delete this hotel?')
        if (result == false) {
            event.preventDefault();
        }
    }
</script>

{% endblock %}
    
