<!--Horizon Hotels userAccountPage.html 

Student ID:  -->

{% extends 'base.html' %}

{% block head %} 
{% endblock %}

{% block body %} 

<div class="aboutUsPageBody">

    <!--Navbar-->

    <header>

        <!--Skip nav link for accessability-->

        <a class="skipNavLink" href="#main-content">
            skip navigation
        </a>

        <!--<img src="Images/HHLogo.svg" alt="HHLogo" class="HHLogo">-->
        <h3 class="headerBrandName">HORIZON HOTELS</h3>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="searchPage">Search</a></li>
                <li><a href="aboutUsPage">About Us</a></li>
                <li><a href="basketPage">Basket</a></li>
                <li><a href="userAccountPage">Account</a></li>
                <li><a href="logoutPage">Logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>

    <main id="main-content">

    <!--Gap/Space beneath nav-->
    <div class="navGap"><br></div>
        
    <section class="aboutUsSection">
        <h1 class="bookingInfoHeader">Booking #{{booking_id}}</h1>
        
        <table>
            <tr>
                <th>LOCATION:</th>
                <td>{{location}}</td>
            </tr>
            <tr>
                <th>STANDARD ROOMS:</th>
                <td>{{numStandard}}</td>
            </tr>
            <tr>
                <th>DOUBLE ROOMS (1 Guest):</th>
                <td>{{numDouble}}</td>
            </tr>
            <tr>
                <th>DOUBLE ROOMS (2 Guests):</th>
                <td>{{numDouble2}}</td>
            </tr>
            <tr>
                <th>FAMILY ROOMS:</th>
                <td>{{numFamily}}</td>
            </tr>
            <tr>
                <th>CHECK-IN DATE:</th>
                <td>{{checkIn}}</td>
            </tr>
            <tr>
                <th>CHECK-OUT DATE:</th>
                <td>{{checkOut}}</td>
            </tr>
            <tr>
                <th>TOTAL NIGHTS BOOKED:</th>
                <td>{{total_days_booked}}</td>
            </tr>
            {% if currency == 'gbp' %}
                <tr>
                    <th>TOTAL COST (Before Discount):</th>
                    <td>£{{total_price_of_stay_before_discount}}0</td>
                </tr>
                <tr>
                    <th>TOTAL COST (Discount Applied):</th>
                    <td>£{{total_price_of_stay_with_discount}}0</td>
                </tr>
            {% endif %}
            {% if currency == 'usd' %}
                <tr>
                    <th>TOTAL COST (Before Discount):</th>
                    <td>${{total_price_of_stay_before_discount}}0</td>
                </tr>
                <tr>
                    <th>TOTAL COST (Discount Applied):</th>
                    <td>${{total_price_of_stay_with_discount}}0</td>
                </tr>
            {% endif %}
            {% if currency == 'euro' %}
                <tr>
                    <th>TOTAL COST (Before Discount):</th>
                    <td>&euro;{{total_price_of_stay_before_discount}}0</td>
                </tr>
                <tr>
                    <th>TOTAL COST (Discount Applied):</th>
                    <td>&euro;{{total_price_of_stay_with_discount}}0</td>
                </tr>
            {% endif %}
        </table>

        <div class="cancel_button_div">
            <form method="post" action="/bookingCancellationConfirmationPage">
                <input type="hidden" name="booking_id" value="{{booking_id}}">
                <a href="bookingCancellationConfirmationPage"><button type="submit" onclick="confirm_cancellation()" class="cancel_booking">Cancel Booking</button></a>
                <p class="error_message"><br>Please view the <a href="aboutUsPage">About Us</a> page<br>for information regarding cancellation charges</p>
            </form>
        </div>

    <div class="aboutUsBottomGap"></div>

</div>




<script>
    function confirm_cancellation() {
        var result = confirm('Are you sure you would like to cancel this booking?')
        if (result == false) {
            event.preventDefault();
        }
    }
</script>

{% endblock %}
    
